<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote History Page</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
    <div>
        <img src="/img/aiquote.png" alt="AI Quote Logo">
    </div>
    <h2>Quote History</h2>
    <div class="form">
        <button id="displayQuotesButton">Display Quotes</button>
        <div id="quotesTable"></div>
    </div>
    <script src="/js/history.js"></script>
</body>
</html>
