<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Hub</title>
    <link rel="stylesheet" href="css/homepage.css"> 
</head>
<body>
    <div>
        <img src="img/ailogo.png" alt="AI Logo">
    </div>
    <div class="container">
        <h1>Welcome to Your User Hub!</h1>
        <h2>Select an Option:</h2>
    </div>
    <a href="/update-profile">
        <button>Update Profile</button>
    </a>
    <br>
    <br>
    <a href="/quote">
        <button>Request a Quote</button>
    </a>
    <br>
    <br>
    <a href="/history">
        <button>View Quote History</button>
    </a>
    <br>
    <br>
    <script src="js/hub.js"></script> 
</body>
</html>
