<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="container">
        <h2>Login</h2>
        
        <form id="loginForm" action="/login" method="POST">
            <div class="input-group">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="username" required>
            </div>
            <div class="input-group">
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="password" required>
            </div>
            <div class="input-group">
                Don't have an account? <a href="/register" id="createAccount"> Register</a>
            </div>
            <input type="submit" value="Login">

            <p id="error-message"></p>
        </form>
    </div>
    <script src="/js/login.js"></script>

</body>
</html>
