/* register.css */
body, h2, label, input, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: azure;
    text-align: center;
}


.register-container {
    background-color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border: 1px solid #000;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(233, 222, 199);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    text-align: center; /* Center the text horizontally */
}

input[type="submit"]:hover {
    background-color: #c7def7;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#register-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}